body {
  background-color: rgb(176, 202, 202);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
